@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px;
}

a {
  text-decoration: none;
  color: inherit;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;
}

@media (max-width: 640px) {
  #app {
    padding: 18px;
  }
}
